
.header1 {
  padding-top: 30px;
  color: black;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;

}

body {
  background: url(3718.jpg);
  background-size: 900px;
  background-repeat: repeat;
}
.stuff {
  text-align: center;
  padding-top: 50px;
  margin: 70px;
  background-image: url(5629.jpg);
  box-sizing: border-box;

}
.field {
  box-sizing: content-box;
  align-content: center;
  width: auto;
  height: auto;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
}

.radio-group {
  text-align: center;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.message {
  font-family: 'Raleway', sans-serif;
  font-size: 200px
  box-sizing: content-box;
  padding: 10px


}

/*div {
  box-sizing: border-box;
  width: 70%;
  box-sizing: border-box;
  background-image: url(ODR9390.jpg);
  background-size: contain;
  align-self: : center;
  font-color: white;*/
